[submodule "Assets/General"]
	path = Assets/General
	url = git@github.com:HoloFab/HoloFab2-Split-General.git
[submodule "Assets/Unity"]
	path = Assets/Unity
	url = git@github.com:HoloFab/HoloFab2-Split-Unity.git
[submodule "Assets/ARCore"]
	path = Assets/ARCore
	url = git@github.com:HoloFab/HoloFab2-Split-Unity-ARCore.git
